<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <meta name="author" content="onkhida" />
    <meta name="title" content="onkhida" />
    <meta
      name="description"
      content="This is a personal archive site for onkhida, an engineer from Lagos, Nigeria."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://danieleta.com/" />
    <meta property="og:title" content="onkhida" />
    <meta
      property="og:description"
      content="This is a personal archive site for onkhida, an engineer from Lagos, Nigeria."
    />
    <meta property="og:image" content="https://i.ibb.co/mH7mJJZ/base-image.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@onkhida" />
    <meta name="twitter:creator" content="@onkhida" />
    <meta name="twitter:title" content="onkhida" />
    <meta
      name="twitter:description"
      content="This is a personal archive site for onkhida, an engineer from Lagos, Nigeria."
    />
    <meta
      name="twitter:image:src"
      content="https://i.ibb.co/mH7mJJZ/base-image.png"
    />

    <title>Personal Archive</title>
    <!-- <link rel="icon" type="image/x-icon" href="../src/assets/favicon.ico" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;800&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>
  </head>
  <body>
    <main class="not-found">
      <div class="wrap">
        <h1>404</h1>
        <p>
          The page was not found. It may have been moved, deleted, or there may
          be a typo somewhere in your address bar.
        </p>
        <a href="https://www.danieleta.com">danieleta.com</a>
      </div>
    </main>
  </body>
</html>
